<section class="header py-4 d-flex justify-content-between">
    <section class="containericon">
      <section class="icon">
        <img src="../../assets/shared/logo.svg" alt="logo" />
      </section>
    </section>
    <section class="linkContainer">
      <section class="line">
      </section>
      <section class="links">
        <ul class="d-flex justify-content-between align-items-center underline-indicators">
          <li class="link ">
            <a href="" class=" d-flex justify-content-between align-items-center">
              <p class="number">00</p>
              <p class="subT">HOME</p>
            </a>
          </li>
          <li>
            <a href="" class="d-flex justify-content-between align-items-center">
              <p class="number">01</p>
              <p class="subT">DESTINATION</p>
            </a>
          </li>
          <li>
            <a href="" class="d-flex justify-content-between align-items-center">
              <p class="number">02</p>
              <p class="subT">CREW</p>
            </a>
          </li>
          <li>
            <a href="" class="d-flex justify-content-between align-items-center">
              <p class="number">03</p>
              <p class="subT">TECNOLOGY</p>
            </a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  
