<main >
<section class="d-flex justify-content-between containerbody py-5">
    <section class="text__container ">
      <h4>SO, YOU WANT TO TRAVEL TO</h4>
      <h1>SPACE</h1>
      <p >
        Let’s face it; if you want to go to space, you might as well<br> genuinely go 
        to outer space and not hover kind of on the<br> edge of it. Well sit back, and
        relax because we’ll give you<br> a truly out of this world experience! .
      </p>
    </section>
    <section class="second__container">
      <section class="explore__container">
        <p>EXPLORE</p>
      </section>
    </section>
  </section>
</main>